<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mais Saúde</title>
</head>
<body> 
    <h1>Mais saúde!!!</h1>
    <p> Nesta homepage, você encontrará conteúdos relevantes sobre bem-estar, qualidade de vida e cuidados com a saúde. Nosso objetivo é informar e conscientizar, oferecendo dicas práticas e atualizadas para uma vida mais saudável</p>
    <hr>
    <h2>Calculadora de IMC</h2>
  
    <form>
        <label for="peso">Peso (kg):</label>
        <input type="number" name="peso" id="peso">
        
        <label for="altura">Altura (m):</label>
        <input type="number" name="altura" id="altura">
        
        <button type="submit" onclick="calcularImc()">Calcular IMC</button>

        <span id="resultado" class="display-none"></span>
        
        <script>
            function calcularIMC() {
            const peso = parseFloat(document.getElementById('peso').value);
            const altura = parseFloat(document.getElementById('altura').value);

            if (peso > 0 && altura > 0) {
                const imc = peso / (altura * altura);
                let classificacao = '';

                if (imc < 18.5) {
                classificacao = 'Abaixo do peso';
                } else if (imc < 24.9) {
                classificacao = 'Peso normal';
                } else if (imc < 29.9) {
                classificacao = 'Sobrepeso';
                } else if (imc < 34.9) {
                classificacao = 'Obesidade grau I';
                } else if (imc < 39.9) {
                classificacao = 'Obesidade grau II';
                } else {
                classificacao = 'Obesidade grau III';
                }

                document.getElementById('resultado').innerText =
                    `Seu IMC é ${imc.toFixed(2)}`;
                } else {
                    document.getElementById('resultado').innerText = 'Por favor, insira valores válidos.';
                }
            }
    </script>

    </form>
</body>
</html>
